*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* Color styles */
--background-main: #FFFFFF;
--backgroun-hero: #B4D0E7;
--blue-button: #0061FF;
--bc-footer: #000000;
--bg-green: #A2D39B;
--bc-brown: #61082B;
--bc-lightblue: #0093CE;
--bc-red: #FF1C1C;
--bc-cherry: #D5001F;
--bc-blue: #0D2481;
--bc-yellow: #FFD830;

}